body {background-color:#844b92e5;}
h1 {text-align:center;
    font-size:56px;
    font-family:'Franklin Gothic Medium';}
.nav {text-align:center;
    margin-top:20px;}
.nav button {padding:15px 20px;
    margin:10px;border:none;
    background-color:rgb(207, 176, 207);
    color:black;cursor:pointer;
    border-radius:8px;}
.nav button:hover {color:blueviolet;}
.section {display:none;}
#intro {display:block;}
#intro {margin-top:30px;}
#intro p {color:black;
         font-size:32px;
        text-shadow:0 0 10px #ff99cc;}
.intro-images img {width:300px;
                  height:400px;
                  object-fit:cover;
                  margin:10px;
                border-radius:12px;
                border:4px solid rgb(207, 176, 207);}
.intro-images img:hover {transform:scale(1.1);}
.nav {margin-top:20px;}
.intro-images {display:grid;
               grid-template-columns:repeat(3, 1fr);
              column-gap:20px;
             justify-items:center;
            margin-top:20px;}
.home-grid {display:grid;
            grid-template-columns: repeat(2,1fr);
            gap:300px;
            margin-top:40px;
            padding:20px;}
.card {background-color:rgba(255,255,255,0.4);
      padding:20px;
      border-radius:20px;
      text-align:center;
      box-shadow:0.4px 12px rgba(0,0,0,0.2)}
.card img {width:100%;
           height:250px;
           object-fit:cover;
           border-radius:15px;}
.card video {width:100%;
             height:250px;
             border-radius:15px;}
.card:hover {transform:translateY(-5px);
             transition:0.3s;}
.gallery-grid {display:grid;
               grid-template-columns: repeat(3,1fr);
               gap:20px;
              padding:20px;}
.gallery-grid img {width:100%;
                   height:300px;
                   object-fit:cover;
                   border-radius:20px;}
.gallery-grid img:hover {transform:scale(1.05);
                         transition:0.3s;}
.gallery-grid img {box-shadow:0.4px 12px rgba(0,0,0,0.2);}
.gallery-grid img {border: 4px solid rgba(255,255,255,0.4);}
.video-grid {display:grid;
             grid-template-columns: repeat(2,1fr);
            gap:300px;
            padding:20px;}
.video-card {background-color:rgba(255,255,255,0.4);
             padding:20px;
             border-radius:20px;
             box-shadow:0.4px 12px rgba(0,0,0,0.2);}
.video-card video {width:100%;
                   border-radius:15px;}
.video-card:hover {transform:translateY(-5px);
                   transition:0.3s;}
.sparkles span {position:fixed;
                width:8px;
                height:8px;
                background:white;
                border-radius:50%;
                box-shadow:0 0 15px white;
                animation:float 6s linear infinite;
                opacity:0.7;}
.sparkles span:nth-child(1) { top:10%; left:20%; }
.sparkles span:nth-child(2) { top:30%; left:70%; }
.sparkles span:nth-child(3) { top:50%; left:40%; }
.sparkles span:nth-child(4) { top:80%; left:10%; }
.sparkles span:nth-child(5) { top:60%; left:85%; }

.sparkles span:nth-child(6) { top:15%; left:50%; }
.sparkles span:nth-child(7) { top:75%; left:30%; }
.sparkles span:nth-child(8) { top:45%; left:90%; }
.sparkles span:nth-child(9) { top:25%; left:5%; }
.sparkles span:nth-child(10) { top:90%; left:60%; }

.sparkles span:nth-child(11) { top:5%; left:80%; }
.sparkles span:nth-child(12) { top:35%; left:25%; }
.sparkles span:nth-child(13) { top:55%; left:15%; }
.sparkles span:nth-child(14) { top:65%; left:50%; }
.sparkles span:nth-child(15) { top:85%; left:75%; }

.sparkles span:nth-child(16) { top:40%; left:65%; }
.sparkles span:nth-child(17) { top:12%; left:35%; }
.sparkles span:nth-child(18) { top:72%; left:92%; }
.sparkles span:nth-child(19) { top:48%; left:48%; }
.sparkles span:nth-child(20) { top:95%; left:18%; }
@keyframes float {0% {transform:translateY(0px);
                      scale:(1);
                      opacity:0.3;}
                  50% {opacity:(-20px);
                       scale:(1.3);
                       opacity:1;}
                  100% {transform:translateY(-40px);
                        scale:(1);
                        opacity:0.3;}}
@media (max-width: 768px) {h1 {font-size:38px;}
#intro h1 {font-size:32px;}
.home-grid {grid-template-columns:1fr;}
.gallery-grid {grid-template-columns:1fr;}
.video-grid {grid-template-columns:1fr;}
.nav button {width:90%;
             margin-bottom:10px;}
.card img {height:220px;}
.video-card video {width:100%;}
.intro-images {display:flex !important;
               flex-direction:column !important;
               align-items:center !important;
               gap:20px !important;}
.intro-images img {width:300px !important;
                   max-width:90px !important;
                   height:400 !important;
                   object-fit:cover !important;}}
